<%- include ../partials/header %>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad">
            <div class="row">
                <div class="col-sm-6">
                    <table>
                        <thead>
                            <tr>
                                <th>
                                    Operation
                                </th>

                                <th>
                                    Navn
                                </th>

                                <th>
                                    Pris
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <% services.forEach(service => {%>
                                <tr>
                                    <td>
                                        <button id=<%=service.id %> onclick="edit(this.id)">Rediger</button>
                                        <button id=<%=service.id %> onclick="deleteService(this.id)">Slet</button>
                                    </td>
                                    <td>
                                        <%= service.name %>
                                    </td>
                                    <td>
                                        <%= service.pris %> DKK,-
                                    </td>
                                </tr>
                                <% }) %>
                        </tbody>
                    </table>
                </div>
                <div id="edit_div" class="col-sm-6">
                    <h2>Opret services</h2>
                    <form class="opretForm" method="post" enctype="multipart/form-data">
                        <div>
                            <label for="name">Titel: </label>
                            <br/>
                            <input type="text" class="form-control" id="name" name="name" min="2" required>
                        </div>
                        <div>
                            <label for="price">Pris: </label>
                            <br/>
                            <input type="number" class="form-control" id="price" name="price" min="1" required>
                        </div>
                        <button id="opretKnap" type="submit">Opret</button>
                    </form>

                </div>
            </div>
        </div>
    </div>
    <%- include ../partials/footer %>