<%- include ../partials/header %>
    <div class="row">
        <div class="col-md-offset-4 col-xs-offset-4">
            <img src="logo.png" alt="Logo">
        </div>
    </div>
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <img src="./img/slide1.jpg" alt="Billede 1">
                <div class="carousel-caption">
                    <h3>Åbent Hus</h3>
                    <p>Lørdag d. 17 kl. 10-18</p>
                </div>
            </div>

            <div class="item">
                <img src="./img/slide2.jpg" alt="Billede 2">
                <div class="carousel-caption">
                    <h3>Frisør Frank Goldmann - </h3>
                    <p>“Hår er en personlig sag, derfor står vi altid til rådighed med råd og vejledning”</p>
                </div>
            </div>

            <div class="item">
                <img src="./img/slide3.jpg" alt="Billede 3">
                <div class="carousel-caption">
                    <h3>Frisør Hanna Hansen -</h3>
                    <p>"Vi har mange års erfaring, og sælger kun produkter, der fremmer styrken i dit hår."</p>
                </div>
            </div>
        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <div id="about" class="space clearfix">
        <div class="col-md-6 col-xs-6  omos">
            <h3>Om os</h3>
            <p>
                Goldmann &amp; Moussa er en moderne frisør, som både tænker nyt og kreativt. Vi bestræber os altid på at imødekomme dine
                behov og ønsker, og vores dygtige frisører er altid smilende og servicemindede.
            </p>
            <p>
                Gennem de seneste mange år, har vi arbejdet med både børne- og herreklip, og tilbyder alt inden for klipning, hårfarvning
                og generel hårpleje.
            </p>
            <p>
                Vi er et proffesionelt lille team som består af, de to ejere: Frank Goldmann, på 39 år og Ady Moussa på 29 år og Hannah på
                28 De har alle omtrent 10 års erfaring og er uddannet på Københavns fineste frisørskole
            </p>
        </div>
        <div class="col-md-3 col-md-offset-2 col-xs-3 col-xs-offset-2 formular ">
            <h3>Kontakt</h3>
            <form>
               <label for="">Navn:</label> 
                <br>
                <input type="text" name="" required>
                <br> <label for=""> Tlf:</label>
                <br>
                <input type="text" name="" required>
                <br> <label for="">Email:</label> 
                <br>
                <input type="text" name="" id="" required min="2">
                <br> <label for="">Besked:</label> 
                <br>
                <textarea name="" id="" cols="25" rows="4" required min="2"></textarea>
                <br>
                <button type="submit" class="knap">Send</button>
            </form>
        </div>
    </div>
    <div class="clearfix space">
        <div class="col-md-6 col-xs-6">
            <h2>Priser</h2>
            <table class="table">
                <tbody>
                    <% servicesjson.services.forEach(service => {%>
                        <tr>
                            <td>
                                <%= service.name %>
                            </td>
                            <td>
                                <%= service.pris %>,- DKK
                            </td>
                        </tr>
                        <% }) %>
                </tbody>
            </table>
        </div>
        <div class="col-md-6 col-xs-6">
            <h2>Åbningstider</h2>
            <table class="table">
                <tbody>
                    <% åbningstiderjson.åbningstider.forEach(åbningstider => {%>
                        <tr>
                            <td>Man-fre</td>
                            <td>
                                <%= åbningstider.hverdage %>
                            </td>
                        </tr>
                        <tr>
                            <td>Lørdag</td>
                            <td>
                                <%= åbningstider.lørdag %>
                            </td>
                        </tr>
                        <tr>
                            <td>Søndag</td>
                            <td>
                                <%= åbningstider.søndag %>
                            </td>
                        </tr>
                        <% }) %>
                </tbody>
            </table>
        </div>

    </div>
    <div class="booking col-md-offset-6 col-xs-offset-6">
        <div id="booking" class="clearfix wrap">
            <div class="instructions">
                <h3>Booking</h3>
                <div class="first">Vælg en frisør</div>
            </div>
            <div class="staff">
                <div class="member">
                    <div class="avatar" style="background-image:  url('./img/frank.jpg')"></div>
                    <div class="name">Frank Goldmann - TLF. 12 34 56 78</div>
                    <div class="deselect-member">Tilbage</div>
                    <div class="deselect-date">Tilbage</div>
                    <div class="deselect-slot">Tilbage</div>
                    <div class="calendar"></div>
                    <ul class="slots"></ul>
                    <form class="form">
                        <label>Navn</label>
                        <input type="text" name="name" required="required" />
                        <label>Telefonnummer</label>
                        <input id="telNo" type="tel">
                        <input type="submit" value="Godkend booking" />
                    </form>
                    <div class="confirm-message">Booking Gennemført!
                        <span class="restart">Vil du booke igen?</span>
                    </div>
                </div>
                <div class="member">
                    <div class="avatar" style="background-image:  url('./img/ady.jpg')"></div>
                    <div class="name">Ady Moussa - TLF. 23 45 67 89</div>
                    <div class="deselect-member">Tilbage</div>
                    <div class="deselect-date">Tilbage</div>
                    <div class="deselect-slot">Tilbage</div>
                    <div class="calendar"></div>
                    <ul class="slots"></ul>
                    <form class="form">
                        <label>Navn</label>
                        <input type="text" name="name" required="required" />
                        <label>Telefonnummer</label>
                        <input id="telNo" type="tel">
                        <input type="submit" value="Godkend booking" />
                    </form>
                    <div class="confirm-message">Booking Gennemført!
                        <span class="restart">Vil du booke igen?</span>
                    </div>
                </div>
                <div class="member">
                    <div class="avatar" style="background-image: url('./img/hannah.jpg')"></div>
                    <div class="name">Hannah Hansen - TLF. 12 43 56 87</div>
                    <div class="deselect-member">Tilbage</div>
                    <div class="deselect-date">Tilbage</div>
                    <div class="deselect-slot">Tilbage</div>
                    <div class="calendar"></div>
                    <ul class="slots"></ul>
                    <form class="form">
                        <label>Navn</label>
                        <input type="text" name="name" required="required" />
                        <label>Telefonnummer</label>
                        <input id="telNo" type="tel">
                        <input type="submit" value="Godkend booking" />
                    </form>
                    <div class="confirm-message">Booking Gennemført!
                        <span class="restart">Vil du booke igen?</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="products" class="clearfix produkter">
        <% results.forEach(results => {%>
            <div class="col-md-12 col-xs-12">
                <div class="col-md-6 col-xs-6">
                    <img class="col-xs-10 col-md-10 billeder" src=<%="img/" +results.billede %>>
                </div>
                <div class="col-md-6 col-xs-6">
                    <h2>
                        <%= results.navn %>
                    </h2>
                    <h4>
                        <%= results.pris %>,- DKK
                    </h4>
                    <p>
                        <%= results.beskrivelse %>
                    </p>
                </div>
                <!-- <img class="col-md-10 billeder" src=<%= "img/"+results.billede %>> -->
            </div>
            <% }) %>
    </div>
    <%- include ../partials/footer %>